.navigation {
	display: flex;
	justify-content: space-between;
	margin-left: 8%;
	width: 75%;
	position: absolute;
	bottom: 35px;

	& li {
		margin-right: auto;
		flex-basis: 22%;
		min-height: 50px;
		border-radius: 15px;
		background-color: #fff;

		&:last-child {
			margin-right: 0;
		}
	}

}

.linkCity {
	display: inline-flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
	padding: 0 7px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 26px;
	//color: #45322e;
	color: #d2691e;
	border-radius: 15px;
}

.isActiveLink {
	display: inline-flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
	padding: 0 7px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 26px;
	//color: #45322e;
	background-color: #cc7722;
	color: #fffddf;
	border-radius: 15px;
}